<%- include("partials/headerAdmin1"); -%>

<body>
  
  <!-- Displaying Complaints -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Complaints</h1>
        <table class="table "> <!-- table-striped -->
          <thead>
            <tr>
              <th scope="col" class="idd">Complaint ID</th>
              <th scope="col" class="names">First Name</th>
              <th scope="col" class="names">Last Name</th>
              <th scope="col" class="broken">Email</th>
              <th scope="col" class="broken">Phone</th>
              <th scope="col" class="dates">Date</th>
              <th scope="col">City</th>
              <th scope="col" class="long">Person(s) Involved</th>
              <th scope="col" class="long">Relevant Information</th>
              <th scope="col" class="sigma">Signature</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% complaints.forEach(function(complaint){ %>
            <tr>
              <th scope="row" class="idd"><%= complaint._id %></th>
              <td class="nighty"><%= complaint.FirstName %></td>
              <td class="nighty"><%= complaint.LastName %></td>
              <td class="nighty"><%= complaint.Email %></td>
              <td class="nighty"><%= complaint.Phone %></td>
              <td class="nighty"><%= complaint.Date %></td>
              <td class="nighty"><%= complaint.CityName %></td>
              <td class="nighty"><%= complaint.PersonInvolved %></td>
              <td class="nighty"><%= complaint.Relevent_Information %></td>
              <td class="nighty"><%= complaint.Signature %></td>
             
                

              <td class="delete">
                <form action="/delete" method="post">
                  <button
                    name="DeleteComplaint"
                    class="btn btn-danger"
                    type="submit"
                    value="<%= complaint._id %>"
                  >
                    Delete
                  </button>
                </form>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Logout -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form action="/logout" method="POST">
          <button type="submit" class="btn btn-danger">Logout</button>
        </form>
      </div>
    </div>
  </div>
</body>

<script>
  const checkbox = document.getElementById("checkbox");

  checkbox.addEventListener("change", () => {
    document.body.classList.toggle("dark");
    //nighty
    // document.querySelectorAll(".nighty").toggle("dark");
    document.querySelectorAll(".nighty").forEach((element) => {
      element.classList.toggle("dark");
    });
  });
</script>
<%- include("partials/footer"); -%>
